:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --header-height: 120px;
    --header-navbar-height: 36px;
    --header-with-search-height: calc(var(--header-height) - var(--header-navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; /* sans-serif - chủng chữ ko chân */
    /* font-family: Arial, Helvetica, sans-serif; */
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    --growth-from : 0.7;
    --growth-to : 1;
    animation: growth linear 0.2s;
}

/* Btn */
.btn {
    min-width: 124px;
    height: 40px;
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    cursor: pointer;
}

.btn.btn--disable {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

.btn.btn--back:hover {
    background-color: #00000005;
}

.btn.btn--primary {
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--width-icon {
    /* flex: 1; */
    width: 220px;
}

/* Selection */
.select-input {
    display: inline-flex;
    font-size: 1.4rem;
    min-width: 200px;
    height: 34px;
    padding: 0 15px;
    align-items: center;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--white-color);
    cursor: pointer;
    position: relative;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list {
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: calc(100% - 12px);
    right: 0;
    padding: 10px 0;
    border-radius: 2px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 5%);
    background-color: var(--white-color);
    display: none;
    animation: fadeIn ease-in 0.2;
    z-index: 1;
}

.select-input__item {
    width: 100%;
    padding: 0 15px;
}

.select-input__link {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input__label {
    flex: 1;
}

.select-input__icon {
    font-size: 1.4rem;
    position: relative;
    top: 1px;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.pagination-item {
    margin: 0 15px;
}

.pagination-item:first-child {
    margin: 0 15px 0 0;
}

.pagination-item:last-child {
    margin: 0 0 0 15px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #fb6445;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #999999;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.footer__heading {
    margin: 40px 0 20px;
    color: #0000008a;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-item {
    margin-bottom: 12px;
}

.footer-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0000008a;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer__pay-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    max-width: 190px;
}

.footer__pay-item {
    width: calc(33.33333% - 8px);
    margin-right: 8px;
    margin-bottom: 8px;
    height: 29px;
    display: flex;
    align-items: center;
}

.footer-vn-background {
    background-image: url(../img/footer/footer.png);
}

.footer-vn-visa-png {
    width: 55px;
    height: 18px;
    background-size: 1349.090909090909% 1194.4444444444443%;
    background-position: 83.4061135371179% 5.0761421319796955%;
}

.footer-vn-mastercard-png {
    width: 55px;
    height: 29px;
    background-size: 1349.090909090909% 741.3793103448276%;
    background-position: 53.42066957787482% 5.376344086021505%;
}

.footer-vn-jcb-png {
    width: 55px;
    height: 23px;
    background-size: 1349.090909090909% 934.7826086956521%;
    background-position: 38.427947598253276% 30.729166666666668%;
}

.footer-vn-amex-png {
    width: 55px;
    height: 24px;
    background-size: 1484% 977.2727272727273%;
    background-position: 1.4450867052023122% 5.181347150259067%;
}

.footer-vn-vn_cod_footer-png {
    width: 50px;
    height: 29px;
    background-size: 1484% 741.3793103448276%;
    background-position: 89.45086705202313% 25.806451612903224%;
}

.footer-vn-vn_installment_footer-png {
    width: 55px;
    height: 29px;
    background-size: 1349.090909090909% 741.3793103448276%;
    background-position: 90.1018922852984% 52.1505376344086%;
}

.footer-vn-shopeepay-png {
    width: 55px;
    height: 12px;
    background-size: 742% 1131.578947368421%;
    background-position: 73.3644859813084% 24.489795918367346%;
}
/* change code */
/* Code của Đức  */