.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6532, #f53d2d);
}

.header__navbar {
    height: var(--header-navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    display: flex
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item.header__navbar-item--hide {
    display: none;
}

.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-language:hover .header__language,
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-item,
.header__navbar-item > a,
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item > a:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    /* opacity: 0.7; */ /* khi sử dụng opacity sẽ hover cả li */
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/* căn giữa icon */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid hsla(0,0%,100%,.4);
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

/* .header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
} */

.header__navbar-list:first-child .header__navbar-item:last-child {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-user {
    /* display: flex; */
    position: relative;
}

.header__navbar-user-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 4px;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 150%;
    right: 0;
    width: 140px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style-type: none;
    box-shadow: 0 1px 2px #e0e0e0;
    transform-origin: calc(100% - 20%) top;
    --growth-from: 0;
    --growth-to: 1;
    animation: growth ease-in 0.2s, fadeIn ease-in 0.2s;
    z-index: 1;
    display: none;
}

/* .header__navbar-user-item {

} */

.header__navbar-user-item a {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 200%;
    left: 0;
    padding: 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    left: 0;
    top: -20px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__qr-link:nth-child(1),
.header__qr-link:nth-child(3) {
    margin-left: 11px;
    margin-bottom: 4px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 140%;
    right: 0;
    width: 405px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 10%) top;
    --growth-from: 0;
    --growth-to: 1;
    animation: growth ease-in 0.2s, fadeIn ease-in 0.2s;
    -webkit-animation: growth ease-in 0.2s, fadeIn ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify--no-user {
    display: block;
}

.header__notify--no-user-content {
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
}

.header__notify--no-user-img {
    width: 25%;
}

.header__notify--no-user-msg {
    color: var(--text-color)
}

.header__notify--no-user-footer {
    display: flex;
}

.header__notify--has-user {
    display: none;
}

.header__notify::before,
.header__language::before,
.header__navbar-user-menu::before {
    position: absolute;
    right: 12px;
    top: -30px;
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after,
.header__language::after,
.header__navbar-user-menu::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: -15px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 40px;
    user-select: none; /* ko cho copy */
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-item.header__notify-item--viewd {
    background-color: #f7f7f7;
}

.header__notify-item:hover,
.header__notify-footer-btn:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px; 
}

.header__notify-name {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: #555;
    line-height: 1.8rem;
    margin-bottom: 4px;
}

.header__notify-description {
    font-size: 1.2rem;
    color: #777;
    line-height: 1.2rem;
}

.header__notify-footer {
    text-align: center;
    background-color: #fbfbfb;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    width: 100%;
    padding: 12px 0;
    display: block;
}

/* Header language */
.header__language {
    position: absolute;
    width: 180px;
    font-size: 1.4rem;
    right: 0;
    top: 150%;
    border-radius: 2px;
    border: 1px solid hsla(0,0%,100%,.4);
    background-color: var(--white-color);
    transform-origin: calc(100% - 20%) top;
    --growth-from: 0;
    --growth-to: 1;
    animation: growth ease-in 0.2s, fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.header__language-item {
    padding: 12px;
    width: 100%;
    color: var(--text-color);
    font-weight: 400;
    user-select: none;
}

.header__language-item:hover {
    color: #fe6532;
}

/* Header search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__mobile-search {
    line-height: 0;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search-checkbox:checked ~ .header__search-content {
    display: flex;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 146px;
}

.header__search-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.header__search {
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-iput-wrap {
    flex: 1;
    height: 34px;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 34px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 0 10px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: calc(100% - 12px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #c0c0c0;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.header__search-history-heading {
    margin: 12px;
    font-size: 1.3rem;
    color: #9e9e9e;
}

.header__search-history-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.header__search-history-item {
    height: 40px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-select {
    /* height: 34px;
    line-height: 34px; */
    border-left: 1px solid #e8e8e8;
    padding: 4px 10px 4px 15px;
    position: relative;
    cursor: pointer;
    display: flex;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.3rem;
    margin-left: 8px;
    position: relative;
    top: 2px;
}

.header__search-btn {
    background-color: #fb5533;
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 4px;
    border-radius: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    /* border-radius: 2px; */
    top: calc(100% + 2.5px);
    width: 150px;
    padding-left: 0;
    list-style: none;
    color: var(--text-color);
    box-shadow: 0 1px 1px #e0e0e0;
    /* overflow: hidden; */ /* sẽ ẩn luôn cả ::after */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: -15px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 12px;
    display: flex;
    font-size: 1.3rem;
}

/* boder-radius 2 thẻ li đầu và cuối */
.header__search-option-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fcfcfc;
    cursor: pointer;
}

.header__search-option-item span {
    flex: 1;
}

.header__search-option-item i {
    font-size: 1.2rem;
    margin: auto;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-navbar-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.header__search-navbar-item {
    padding: 4px 4px;
}

.header__search-navbar-item:first-child {
    padding-left: 0;
}

.header__search-navbar-item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white-color);
}

/* Header cart */
.header__cart {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
}

.header__cart-icon {
    font-size: 2rem;
    color: var(--white-color);
    margin-right: 16px;
    margin-top: 16px;
    position: relative;
}

.header__cart-wrap:hover .header__cart-list--no-cart {
    display: block;
}

.header__cart-wrap:hover .header__cart-list--has-cart {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 3px);
    right: 10px;
    width: 400px;
    border-radius: 2px;
    background-color: #fdfdfd;
    box-shadow: 0 1px 3.125rem 0 #00000033;
    display: none;
    transform-origin: calc(100% - 5%) top;
    --growth-from: 0;
    --growth-to: 1;
    animation: growth ease-in 0.2s, fadeIn ease-in 0.2;
    z-index: 2;
    cursor: default;
}

.header__cart-list::before {
    position: absolute;
    right: 0px;
    top: -20px;
    content: "";
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: 1;
    cursor: pointer;
}

.header__cart-list::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: -15px;
}

.header__cart-list--no-cart {
    padding: 60px 0;
    text-align: center;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart--no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart--no-cart-img {
    width: 25%;
    /* display: none; */
    justify-self: center;
}

.header__cart--no-cart-msg {
    font-size: 1.2rem;
    margin: 20px 0 0;
    color: var(--text-color);
    /* display: none; */
}

.header__cart-notice {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2rem;
    margin-left: -24px;
    margin-top: 6px;
    padding: 1px 6px;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-notice.header__cart-notice--hide {
    display: none;
}

.header__cart-heading {
    font-weight: 300;
    padding-left: 10px;
    margin: 10px 0;
    font-size: 1.3rem;
    color: #9e9e9e;
}

.header__cart-list-item {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #ededed;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 10px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 10px;
}

.header__cart-item-head {
    display: flex;
    /* align-items: center; */
}

.header__cart-item-name {
    width: 200px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color);
    cursor: text;
}

.header__cart-item-price-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__cart-item-price {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: text;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    padding: 0 4px;
    color: #757575;
    cursor: text;
}

.header__cart-item-quantity {
    font-size: 1.1rem;
    color: #757575;
    cursor: text;
}

.header__cart-item-body {
    display: flex;
    margin-top: 10px;
}

.header__cart-item-description {
    font-size: 1.1rem;
    flex: 1;
    font-weight: 300;
    color: #666;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f8f8;
}

.header__cart-view-cart {
   height: 32px;
   margin: 12px;
   padding: 0;
}

.header__cart-view-cart:hover {
    background-color: #fb6445;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    border-left: none;
}

.header__sort-link.header__sort-link--active {
    color: var(--primary-color);
}

/* Container */
.container {
    background-color: #f5f5f5;
}

.container-content {
    padding-top: 24px;
}

.category {   
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px 20px;
    margin: 0;
    color: var(--text-color);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style-type: none;
}

.category-item {
    position: relative;
}

.category-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.category-item:first-child::before {
    display: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

/* .category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
} */

.category-item__link {
    position: relative;
    font-size: 1.4rem;
    padding: 6px 20px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    /* right: 0;
    transition: right linear 0.1s; */
}

.category-item__link:hover {
    /* right: -2px; */
    color: var(--primary-color);
}

/* Home */
.home-product {
    margin-bottom: 10px;
}

.home-filter {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #e6e6e6;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
}

.home-filter__nav {
    flex: 1;
}

.home-filter__nav-btn {
    min-width: 80px;
    height: 34px;
    padding: 0 15px;
    margin-left: 10px;
    color: var(--text-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.home-filter__page-num {
    display: flex;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    margin-left: 20px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.home-filter__page-btn {
    display: flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
    padding: 9px 12px;
    color: var(--text-color);
    background: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page-btn:hover {
    background-color: #f9f9f9;
}

.home-filter__page-btn--disable {
    cursor: default;
    color: rgba(0,0,0,.26);
    background: #f9f9f9;
    border-right: 1px solid #f2f2f2;
}

.home-filter__page-icon {
    margin: auto;
}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:last-child {
    margin-right: 0;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9db;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}

.mobile-category__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    --line-height: 2.2rem;
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-decoration: none;
    border-radius: 4px;
}

.mobile-category__link span {
    color: var(--white-color);
    display: -webkit-box;
    padding: 2px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    /* -webkit-tap-highlight-color: transparent; */
}

/* Product */
.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.home-product-item__name {
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 32px;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 5px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
}

.home-product-item__price-curent {
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    margin: 5px 10px 0;
}

.home-product-item__like {
    font-size: 1.2rem;
    color: var(--text-color);
    flex: 1;
}

i.home-product-item__like-icon-fill {
    color: rgb(245, 61, 47);
    display: none;
}

.home-product-item__like--liked i.home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked i.home-product-item__like-icon-empty {
    display: none;
    /* display: inline-block; */
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: var(--star-gold-color)
    
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    margin: 5px 10px 0;
    font-size: 1.2rem;
    color: rgba(0,0,0,.65);
    font-weight: 300;
}

/* .home-product-item__brand {
    
} */

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    padding: 4px 2px;
    text-align: center;
    border-top-right-radius: 2px;
    color: rgba(253, 214, 44, 0.94);
    background-color: currentColor;
}

.home-product-item__sale-off::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #ee512c;
}

.home-product-item__sale-off-label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 40px 0 80px;
    padding-left: 0;
}

/* Footer */
.footer-header {
    height: 120px;
    background-color: var(--white-color);
    border-top: 4px solid #ee4d2d;
}

.footer-container {
    background-color: #fbfbfb;
}

.footer-content {
    border-top: 1px solid rgba(0,0,0,.09);
}

.footer__heading {
    margin: 40px 0 20px;
    color: #0000008a;
    font-size: 1.4rem;
}

.footer__heading:nth-child(3) {
    margin-top: 10px;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.footer-item {
    margin-bottom: 12px;
}

.footer-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0000008a;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-icon {
    font-size: 1.7rem;
    margin-right: 8px;
    margin-top: -2px;
    color: var(--text-color);
}

.footer__pay-list,
.footer__trans-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    max-width: 190px;
}

.footer__pay-item,
.footer__trans-item {
    width: calc(33.33333% - 8px);
    margin-right: 8px;
    margin-bottom: 8px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__dowload {
    display: flex;
}

.footer__dowload-qr-img {
    width: 84px;
    height: 84px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}

.footer__dowload-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__dowload-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__dowload-app-img {
    width: 80px;
    /* height: 20px; */
}

.footer-source {
    padding: 40px 0;
    align-items: flex-start;
    border-top: 1px solid rgba(0,0,0,.1);
}

.footer__permission {
    padding: 0 !important;
}

.footer__permission-text {
    font-size: 1.4rem;
    color: #0000008a;
    display: inline-block;
}

/* .footer__country {
    
} */

.footer__country-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer__country-text {
    font-size: 1.4rem;
    margin-left: 20px;
    color: #0000008a;
}

.footer__country-item {
    border-right: 1px solid rgba(0,0,0,.2);
    padding: 0 6px;
}

.footer__country-item:last-child {
    border: 0;
}

.footer__country-link {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: #0000008a;
}

.footer-bottom {
    padding: 40px 0 35px;
    background-color: #f5f5f5;
}

.footer__policy {
    margin-bottom: 40px;
    justify-content: center;
}

.footer__policy-list {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.footer__policy-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-right: 1px solid rgba(0,0,0,.09);
}

.footer__policy-item:last-child {
    border: none;
}

.footer__policy-link {
    font-size: 1.2rem;
    color: #0000008a;
    text-decoration: none;
    text-align: center;
}

.footer__checked {
    justify-content: center;
}

.footer__checked-logos {
    display: flex;
}

.footer__checked-logo {
    margin: 0 20px;
    text-decoration: none;
}

.footer__company {
    display: flex;
    justify-content: center;
    margin: 8px 0 25px;
    font-size: 1.2rem;
    color: #000000a6;
}

.footer__info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__info-text {
    font-size: 1.2rem;
    color: #000000a6;
    margin: 4px 0;
}

/* Modal */
.modal {
    z-index: 2;
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.auth-form.js-auth-form__register.open {
    display: block;
}

.auth-form.js-auth-form__login.open {
    display: block;
}

.auth-form__container {
    padding: 0 32px;
    /* background-color: var(--white-color); */
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.0rem;
    font-weight: 400;
    margin: 32px 0;
    color: #222;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: #fe6532;
    cursor: pointer;
}

/* .auth-form__form {
    
} */

.auth-form__input {
    font-size: 1.4rem;
    padding: 12px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__policy-text p {
    margin: 0;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -4px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__socials {
    display: flex;
    background-color: #f5f5f5;
    padding: 12px 32px;
    justify-content: space-between;
}

.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
    margin-right: 8px;
}

.auth-form__socials--google {
    color: var(--text-color);
}

.auth-form__socials-icon {
    font-size: 2.2rem;
    margin-right: 8px;
}
